doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/index.js')
  body
    ul#files
      - files.forEach(function(obj) {
      li
        a(href='/download/#{obj.filename}') #{obj.originalname}
        button.deleteButton(type='button', data-filename='#{obj.filename}') 削除
      - });
