html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Ricty;
  background-color: #fafafa;
}

#wrap {
  height: 100%;
  padding: 1rem;
}

#fileModal img,
#fileModal audio,
#fileModal video {
  max-width: 100%;
}

#fileModal img {
  max-height: 16rem;
}

.card {
  cursor: pointer;
}

.card-footer {
  border-top: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
